table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
  }
  
  th {
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #e6e6e6;
  }
  
  td img {
    display: block;
    max-width: 200px; /* Set maximum image width */
    height: auto;
    object-fit: cover;
    padding: 20px 8px; /* Add padding around the image */
  }
  