table {
    border-collapse: collapse;
    width: 100%;
  }
  img {
    width: 50%;
    height: auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  